* {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#header {
    height: 5rem;
    width: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
}

.menu {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    justify-content: flex-end;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.menu-list {
    display: flex;
}

.menu-item {
    list-style: none;
    margin-right: 12px;
    margin: 10px;
}

.menu-item>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}

.title {
    font-size: 50px;
    size: 50px;
    padding-left: 10px;
}

.Quem_sou {
    color: black;
    font-size: 60px;
    margin-top: 6rem;
}

#footer {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.img {
    width: 260px;
    height: 300px;
    border-radius: 20px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-top: 7rem;
}

.text {
    margin: 15px;
}

.img1 {
    width: 50px;
    height: 40px;
    margin: 10px;
}